#post h2 {
	margin: 3rem 0 0.75rem 0;
}

#post h4 {
	margin: 2rem 0 0.5rem 0;
}

#post h6 {
	margin: 1rem 0 0.25rem 0;
}

#post a {
	text-decoration: underline;
	color: rgb(64, 64, 255);
}

#post a:hover {
	color: rgb(0, 0, 255);
}
